process {
    resourceLimits = [
        cpus: 50,
        memory: '500.GB',
        time: '96.h'
    ]
}

params {
    config_profile_name        = 'Lug server'
    config_profile_description = 'Configuration and parameters for an assembly of A. nasatum on Lug server'

    input = "$HOME/nf_data/input/samplesheet.csv"

    porechop_abi_args = '--ab_initio'
    chopper_args = '--quality 10 --minlength 1000'

    assembler = 'pecat'
    pecat_config_file = "$HOME/nf_data/input/pecat_config_a_nasatum_ont.txt"

    busco_lineage = 'arthropoda_odb10'

}
