/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: 'symlink',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'FASTQC_RAW' {
        label = 'process_medium'
        ext.args   = '--quiet'
        ext.prefix = { "${meta.id}_raw" }
    }

    withName: 'FASTQC_PREPARED_READS' {
        label = 'process_medium'
        ext.args   = '--quiet'
        ext.prefix = { "${meta.id}_prepared" }
    }

    withName: 'PORECHOP_ABI' {
        errorStrategy = 'ignore'
        label = { 'process_medium' }
        ext.args = '--ab_initio'
    }

    withName: 'CHOPPER' {
        label = { 'process_medium' }
    }

    withName: 'FLYE' {
        ext.args = {
            [
                meta.genome_size ? "--genome-size ${meta.genome_size}" : '',
                params.flye_args
            ].join(" ").trim()
        }
    }

    withName: 'MERYL_PRINT' {
        ext.args = {
            [
                "greater-than",
                "distinct=0.9998"
            ].join(" ").trim()
        }
    }

    withName: 'BWAMEM2_MEM' {
        ext.args2   = { "-Sb" }
    }

    withName: 'MAP_TO_ASSEMBLY_MINIMAP2:MINIMAP2_ALIGN' {
        ext.prefix = { "${reads.simpleName}_mapped_to_${reference.simpleName}" }
        tag = { "${meta.id} :: ${reads.simpleName} mapped to ${reference.simpleName}" }
    }

    withName: 'SAMTOOLS_STATS' {
        tag = { "${meta.id} :: ${input.simpleName} on assembly ${fasta.simpleName}" }
    }

    withName: 'SAMTOOLS_FLAGSTAT' {
        tag = { "${meta.id} :: ${bam.simpleName}" }
    }

    withName: 'SAMTOOLS_IDXSTATS' {
        tag = { "${meta.id} :: ${bam.simpleName}" }
    }

    withName: 'BUSCO_BUSCO' {
        // errors may happen with conda
        errorStrategy = 'ignore'
        ext.prefix = { "${meta.id}-${}-${lineage}" }
    }

    withName: 'QUAST' {
        // errors may happen with conda
        errorStrategy = 'ignore'
    }





    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
