/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file storing interesting optional configs
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    withName: 'PURGEDUPS_CALCUTS' {
        ext.args = {
            [
                "-l 5",
                "-m 85",
                "-u 200",
                "-f 0.1"
            ].join(" ").trim()
        }
    }
}
